<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Torneos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex justify-center">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <ul class="list">
  
    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Próximos torneos</li>
    
    <li class="list-row gap-2">
      <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp"/></div>
      <div>
        <div>Feria de flores</div>
        <div class="text-xs uppercase font-semibold opacity-60">Medellin, Colombia</div>
      </div>
      <p class="list-col-wrap text-xs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corporis magni aperiam doloremque? Animi iste est optio et laboriosam quos suscipit, autem quidem adipisci eaque ut quaerat unde hic fugiat.
      </p>
      <button class="btn btn-square btn-ghost">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
      </button>

    </li>
    
    <li class="list-row gap-2">
      <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/4@94.webp"/></div>
      <div>
        <div>Panamericano de ajedrez</div>
        <div class="text-xs uppercase font-semibold opacity-60">Villavicencio, Colombia</div>
      </div>
      <p class="list-col-wrap text-xs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corporis magni aperiam doloremque? Animi iste est optio et laboriosam quos suscipit, autem quidem adipisci eaque ut quaerat unde hic fugiat.
      </p>

      <button class="btn btn-square btn-ghost">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
      </button>
    </li>
    
    <li class="list-row">
      <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/3@94.webp"/></div>
      <div>
        <div>Torneo de ajedrez</div>
        <div class="text-xs uppercase font-semibold opacity-60">Bogotá, Colombia</div>
      </div>
      <p class="list-col-wrap text-xs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corporis magni aperiam doloremque? Animi iste est optio et laboriosam quos suscipit, autem quidem adipisci eaque ut quaerat unde hic fugiat.
      </p>
      <button class="btn btn-square btn-ghost">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
      </button>
    </li>
    
  </ul>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
